{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>noBSnews</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/articles_css/article1.css' %}">
</head>
<body>
	<header>
		<div class="logo">
			<h2><a href="">noBSnews</a></h2>
		</div>

		<ul class="navbar">
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Suggest</a></li>
		</ul>

		<div class="signup_btn_container">
			<button class="signup_btn"><a href="{% url 'signup' %}">Sign Up</a></button>
		</div>
	</header>

	<section class="main_content_container">
		<div class="left_container"></div>
		<div class="container">
			<div class="img_container">
				<img src="{% static 'imgs/kid_buu.jpg' %}" class="img">
			</div>
			<div class="content_container">
				<h1>Kid buu is one with the force!</h1>

				<p>
					Ay was good people and welcome back to another one written as always by yours truly and today we will be going over non other the the ULTIMATE OPP. The opp of opp's KID BUU. As always imma give you the truth and nothing but the truth. No BS. And with that outa the way let us begin
				</p>
				<br>
				<p>
					If you are reading this you probably know of those tiktok edits where they give you characters who got black air force energy and most of the time they include kid buu in those lists and i don't agree. This man does not have black air force energy, he is the damn black air force energy! Why? imma bout to educate you so take out your notebook and we finna start. To show how much of an opp this man is and that even toriyama himself knew that his boys were fucked is that the first episode that he shows up in is called "THE END OF THE EARTH". Which other villan has been given such an honor. No one why? coz all who pull up threatening to blow up the earth, they all failed. Cell(failed), Frieza(failed).
				</p>
				<br>
				<p>
					The typical villan is always be like "imma blow up the earth" and kid buu didn't say shit. He just blew it up. This man is the real defination of letting your actions do all the talking. Y'all other villans should be taking notes. And to show that he is also clearly about that life, he goes planet to planet blowing it up coz he can. This man would be a much more effective god of destructin than beerus. If you thought blowing up planets makes him like that, that ain't nothing. Nigga pulled up to heaven to run the hands with all the dead opps. He basically saying "i don't feel i unalived you properly, so imma do it again just coz i can". He wanted to erase them all from existance once and for all. In my opinion this is a much more fun way of doing the hakai. And he was going to literally destroy heaven. The place where you supposed to be resting for eternal peace he wants to blow it up.
				</p>
				<br>
				<p>
					He senses goku and vegeta and then he dips. He like "Y'all lucky this plot armor kicked in and i gotta get to steppin real quick." Now it's the final fight, the battle the decides the fate for everything. And usually it is at this point where villans usually start talking all that shit but kid buu clearly read the book of anime rules and just skipped straight to the part where they were running the hands. This little menace clearly understood the assignment. He and goku got to boxing and he was beating the shit outa goku. Look at him stop mid fight just to dance. He like "my boi goku, your attacks ain't shit. You ain't shit." He see's fat buu and he starts beating the brakes off himself. Why? coz he can. And obviously they way the beat was coz of plot. Coz the last time i checked, super buu "CNTRL ALT DELETED" the entire human race. Now my question is where did they find the energy to make the spirit bomb? But you can't argue with the power of plot now can you?
				</p>
				<br>
				<p>
					That is all i got for this one seeing as how they ended the life of the ultimate opp was just BS. Anyway it was a pleasure as always and imma see you on the next one. :)
				</p>
			</div>
		</div>
		<div class="right_container"></div>
	</section>

	<footer>
		This is the footer for now
	</footer>
</body>
</html>