{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>noBSnews</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/articles_css/article2.css' %}">
</head>
<body>
	<header>
		<div class="logo">
			<h2><a href="">noBSnews</a></h2>
		</div>

		<ul class="navbar">
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Suggest</a></li>
		</ul>

		<div class="signup_btn_container">
			<button class="signup_btn"><a href="{% url 'signup' %}">Sign Up</a></button>
		</div>
	</header>

	<section class="main_content_container">
		<div class="left_container"></div>
		<div class="container">
			<div class="img_container">
				<img src="{% static 'imgs/R.jpg' %}" class="img">
			</div>
			<div class="content_container">
				<h1>U see, ichigoat is no man to disrespect!</h1>

				<p>
					Ay ay welcome back to another one written as always by yours truly and today we will be covering Ichigo Kurosaki and why he is like that. As always imma give you the truth and nothing but the truth. No BS. And with that outa the way, let us be on our way.
				</p>
				<br>
				<p>
					Most shonen MC's are all about the power of friendship and try to convince the enemy that they should change their ways. This is also the case in our real world where we are encouragd to forgive and forget those who have wronged us but ichigoat here does not give a fuck about non of that. He tolerated no disrestpect from absolutly nobody. He don't care who you are but he ain't gonna allow you to disrespect him. Now imma be going over examples where this happens as a demonstration that ichigo is HIM.
				</p>
				<br>
				<p>
					So like all great stories we is gonna start from the beggining and with non other than big bad daddy aizen. This man really deserved what is gonna be coming his way coz the way he disrespected ichigo was just bruh? This man stopped our main character's attack and theme song with a finger. Just look at this. Yeah i understand stopping the attack but the the theme song that is just a whole different level of disrespect. And you already know my boi ichigo is having non of that disrespect seeing as how aizen did this in front of everyone. And ichigo being ichigo, this is what he does to aizen. This is the same man that terrorized the gotei 13, the vizards and threatened to destroy and murder erveryone. Ichigo put aside his mission to protect everyone in order to get back his revenge. This must be a lesson to everyone that ichigo is no man to sneak you see
				</p>
				<br>
				<p>
					Anyway moving along, the next nigga that disrespected ichigoat and obviously had to pay with his life is grimjow. This man single handly made ichigo's bankai look like an absoule joke. The very same bankai that was boxing with byakuya is now just rubbish. Not only that, he turned ichigo into his own personal punching bag coz why not? Look at this. And by now we should already know that ichigo ain't gonna let this slide right? Yeah he did not. It's their third and final rematch and they get to boxing and it looks like the fight could go either way that is until orihime reminds ichigo that "ay kurosaki kun, this man disrespected you back home, are you gonna let that slide?" and then this happens. Yeah once again ichigo shows us that u do not mess with him.
				</p>
				<br>
				<p>
					The next one who disrespecting ichigo and also had to pay with his life is ulqioura. This man dog walked ichigo and it wasn't even close. He just killed off our main character giving zero fucks in the process. Obviously plot kicked in and brought ichigo back to life but ulqioura still murdered him again and this time in front of his chick and you already know ichigoat ain't gonna let that slide like that. And he pulls out one of the most coolest froms in all of anime. The vasto lorde. And this is what happens to ulqioura once this demon pulls up. This thing basically pulled up with that uno reverse card and he was the one who was doing the jumping.
				</p>
				<br>
				<p>
					So what is the moral of the story? Well do not fuck with ichigo coz he ain't gonna forgive and forget. He ain't your typical shonen MC who is all about the power of friendship and all that BS. If you disrespect ichigo u best believe he finna get his revenge one way or the other. Anyway that is all i got for today, remember to sign up to get more content like this and imma see you on the next one. :)
				</p>
			</div>
		</div>
		<div class="right_container"></div>
	</section>

	<footer>
		This is the footer for now
	</footer>
</body>
</html>